<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Movie Review</title>
		{% load static %}
		{% load custom_tags %}
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'style.css' %}">

		<!--[if lt IE 9]>
		<script src="{% static 'js/ie-support/search_button.js' %}"></script>
		<script src="{% static 'js/ie-support/respond.js' %}"></script>

		<![endif]-->

	</head>

	<body>
	<script src="{% static 'js/my_scripts/search_button.js' %}"></script> <!--script for search button-->
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="{% url 'movie_list' %}" id="branding">
						<img src="{% static 'images/logo.png' %}" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">KinoTime</h1>
							<small class="site-description">Обзоры новвинок кино и не только</small>
							<small>{% current_datetime '%b %d %Y' %}</small>



						</div>

					</a> <!-- #branding -->

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="{% url 'movie_list' %}">Главная</a></li>
							<li class="menu-item"><a href="about.html">О нас</a></li>
							<li class="menu-item"><a href="{% url 'review_list' %}">Обзоры</a></li>

<!--							<li class="menu-item"><a href="contact.html">Контакты</a></li>-->
						</ul> <!-- .menu -->
						{% block search %}
						{% endblock search %}
					</div> <!-- .main-navigation -->


					<div class="mobile-navigation"></div>


				</div>
			</header>
			<main class="main-content">
				<div class="container">
					{% block title %}

					{% endblock title %}
					<div class="page">
						<div class="row">
						</div> <!-- .row -->
						<div class="row">
							{% block content %}

							{% endblock content %}
						</div> <!-- .row -->
							{% block reviews %}

							{% endblock reviews %}
					</div>
				</div> <!-- .container -->
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">О нас</h3>
								<p>Здесь вы можете читать, обсуждать и сами писать рецензии на фильмы, сериалы, мутльтсериалы и не только</p>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Последние рецензии</h3>
								<ul class="no-bullet">
									<li><a href="#">Заглушка</a></li>
									<li><a href="#">Заглушка</a></li>
									<li><a href="#">Заглушка</a></li>
									<li><a href="#">Заглушка</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Помощь</h3>
								<ul class="no-bullet">
									<li><a href="#">Заглушка</a></li>
									<li><a href="#">Заглушка</a></li>
									<li><a href="#">Заглушка</a></li>
									<li><a href="#">Заглушка</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Наши соц. сети</h3>
								<ul class="no-bullet">
									<li><a href="#">ВК</a></li>
									<li><a href="#">Telegram</a></li>
									<li><a href="#">Google</a></li>
								</ul>
							</div>
						</div>
<!--						<div class="col-md-2">-->
<!--							<div class="widget">-->
<!--								<h3 class="widget-title">Newsletter</h3>-->
<!--								<form action="#" class="subscribe-form">-->
<!--									<input type="text" placeholder="Email Address">-->
<!--								</form>-->
<!--							</div>-->
<!--						</div>-->
					</div> <!-- .row -->

<!--					<div class="colophon">Copyright 2025 Company name, Designed by Themezy. All rights reserved</div>-->
				</div> <!-- .container -->

			</footer>
		</div>
		<!-- Default snippet for navigation -->



		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>

	</body>

</html>