<!DOCTYPE html>
<html lang="en">
{% extends 'default/default_page.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    {% block search %}
        <div class="search-form">
            <button id="open-search" type="button"><i class="fa fa-search"></i></button>
        </div>

        <div id="search-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="" method="get">
                {# filterset автоматически формирует форму #}
                {{ filterset.form.as_p }}
                <input type="submit" value="Найти" />
            </form>
        </div>
        </div>
    {% endblock search %}

    {% block content %}
        {% if movies %}

            {% for m in movies %}
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <div class="movie-poster">
                            {% if m.poster %}
                                <a href="{% url 'movie_detail' m.id %}"><img src="{{ m.poster.url }}" alt="{{ m.title }}"></a>
                            {% else %}
                                <a href="{% url 'movie_detail' m.id %}"><img src="{% static 'dummy/placeholder.jpg' %}" alt="{{ m.title }}"></a>
                            {% endif %}
                        </div>
                        <div class="movie-card">
                                                    <a href="{% url 'movie_detail' m.id %}" style="text-align: center;">  <!-- {% url 'movie_detail' m.id %} -->
                            <h2 class="centered" >{{ m.name }}</h2>
                            <h4 class="centered" >{{ m.rating }}</h4>
                        </a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>Список фильмов пуст</h1>
        {% endif %}
    <div class="pagination" style="text-align: center; margin-top: 30px;">
       {# Информация о предыдущих страницах #}
       {% if page_obj.has_previous %}
           <a href="?{% url_replace page=1 %}">1</a>
           {% if page_obj.previous_page_number != 1 %}
               ...
               <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
           {% endif %}
       {% endif %}

       {# Информация о текущей странице #}
       {{ page_obj.number }}

       {# Информация о следующих страницах #}
       {% if page_obj.has_next %}
           <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
           {% if paginator.num_pages != page_obj.next_page_number %}
               ...
               <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
           {% endif %}
       {% endif %}
    </div>
    {% endblock content %}



</body>
</html>