<!DOCTYPE html>
<html lang="en">
{% extends 'default/default_page.html' %}
{% load static %}
{% load custom_filters %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block title %}
        {% if movie %}
            <h2 class="centered" >{{movie.name}}</h2>
        {% endif %}
    {% endblock title %}

    {% block content %}
    <div>
        {% if movie %}
            <div>
            {% if movie.poster %}
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" width="300" height="400">
            {% else %}
                <a><img src="{% static 'dummy/placeholder.jpg' %}" alt="{{ movie.title }}"></a>
            {% endif %}
            </div>
            {% if user|has_group:'moderator' %}
            <a href="{% url 'movie_update' movie.pk %}">
                <button type="button">Изменить</button>
            </a>
            <a href="{% url 'movie_delete' movie.pk %}">
                <button type="button">Удалить</button>
            </a>
            {% endif %}
            <h2 class="centered" >Год выпуска: {{movie.year|date:'Y'}}</h2>
            <h2 class="centered" >Рейтинг: {{movie.rating}}</h2>
            <h2 class="centered" >{{movie.description|review_censor}}</h2>

            {% if user not in movie.subscribers.all %}
            <form action="{% url 'movie_subscribe' movie.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Подписаться на {{movie.name}}"/>
            </form>
            {% else %}
                <form action="{% url 'movie_unsubscribe' movie.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Отписаться от {{movie.name}}"/>
                </form>
            {% endif %}

        {% endif %}
    </div>
    {% endblock content %}
    {% block reviews %}
        {% if reviews %}
            <div class="reviews-container">
                {% for r in reviews %}
                    <div class="review-card">
                        <div class="review-header">
                            <div class="review-author">
                                <strong>{{ r.author.user.username }}</strong>
                            </div>
                            <div class="review-title">
                                <h3>{{ r.title }}</h3>
                            </div>
                            <div class="review-grade">
                                <h3>{{ r.grade }}</h3>
                            </div>
                        </div>
                        <div class="review-body">
                            <p>{{ r.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-reviews">Пока нет отзывов 😔</p>
        {% endif %}
    {% endblock reviews %}
</body>
</html>