<!DOCTYPE html>
<html lang="en">
{% extends 'default/default_page.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block title %}
    {% endblock title %}

    {% block content %}

        {% if reviews %}

            {% for r in reviews %}
                <div class="col-sm-6 col-md-3">
                    <div class="latest-movie">
                        <a  style="text-align: center;">
                            <h2 class="centered" >{{ r.title }}</h2>
                            <h4 class="centered" >{{ r.text }}</h4>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>Список обзоров пуст</h1>
        {% endif %}
    {% endblock content %}
</body>
</html>